.create-edit {
  flex: 1;
  padding: 2%;
}

.create-edit ul {
  margin: 0;
}

.create-edit button {
  font-size: large;
  margin-top: 1em;
  width: 40%;
}

.create-edit input[type=text], textarea {
  margin-bottom: 1em;
}

.create-edit .item-create-text input, textarea {
  width: 40%;
}

.create-edit .tag-input input {
  width: 40%;
}


.create-tag {
  flex: 1;
  padding: 2%;
}
