.create-edit {
  flex: 1;
  padding: 2%;
}

.create-edit ul {
  margin: 0;
}

.create-edit .results {
  width: 90%;
}

.create-edit .buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.create-edit .buttons button {
  font-size: large;
  margin-top: 1em;
  width: 40%;
}

.create-edit .buttons button[type=submit] {
  background-color: #337ab7;
  color: white;
}

.create-edit input[type=text], textarea {
  margin-bottom: 1em;
}

.create-edit .item-create-text input, textarea {
  width: 90%;
}

.create-edit .tag-input input {
  width: 40%;
}


.create-tag {
  flex: 1;
  padding: 2%;
}
