body {
  font-family: "Titillium Web", sans-serif;
  margin: auto;
  width: 90%;
}

a {
  color: #035570;
  text-decoration: none;
}

button { 
  background-color: white;
  border: 1px solid #292929;
  box-shadow: 0;
  font-family: "Titillium Web", sans-serif;
}

h2 {
  border-bottom: 1px solid gray;
}

label {
  display: block;
  font-size: larger;
  font-weight: bolder;
}

ul {
  padding-left: 0;
}

.body {
  border: 2px solid black;
  margin-bottom: 5em;
  padding: 2%;
}
