body {
  font-family: "Titillium Web", sans-serif;
  margin: auto;
  width: 90%;
}

a {
  color: #035570;
  cursor: pointer;
  text-decoration: none;
}

button { 
  background-color: white;
  border: 1px solid #292929;
  border-radius: 4px;
  box-shadow: 0;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}

button, input, textarea {
  margin-bottom: 1em;
}

h2 {
  border-bottom: 1px solid gray;
}

label {
  font-size: larger;
  font-weight: bolder;
}

ul {
  padding-left: 0;
}

.body {
  border: 2px solid black;
  border-radius: 0 4px 4px;
  margin-bottom: 5em;
  padding: 2%;
}

.taglist {
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}

.secondary-label {
  display: inline !important;
  font-size: smaller;
}

.taglist .confirm-delete {
  font-size: x-small;
}
