.tabs {
  display: flex;
  margin-bottom: -2px;
}

.tabs div {
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  margin-right: 0.5em;
  padding: 2%;
}

.tabs a {
  font-size: x-large;
  font-weight: bold;
}


.view-tab-contents {
  display: flex;
}


.input-tab-contents {
  display: flex;
}

.input-tab-contents label {
  display: block;
}

.input-tab-contents .results {
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
}

.input-tab-contents .success {
  background-color: #dff0d8;
}

.input-tab-contents .updated {
  background-color: #bce8f1;
}

.input-tab-contents .fail {
  background-color: #f2dede;
}
